.login {
  background: white;
  padding: 30px;
  border-radius: 5px;
  width: 450px;
}

.picture-section {
  width: 70%;
  height: 100vh;
}
.form-section {
  width: 30%;
  height: 100vh;
}

.login-background {
    width: 100%;
    height: 100%;
    background-image: url("./space.png");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1023px) {
  .picture-section {
    display: none;
  }
  .form-section {
    width: 100%;
    height: 100vh;
  }
}
